<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Editar Turma</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container my-5">
		<h3>Editar Turma</h3>
		<div class="card">
            <div class="card-body">
                <div class="col-md-8">
					<form th:action="@{/turma}" th:object="${turma}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="codigo">Código</label>
								<input type="text" id="codigo" name="codigo" th:field="*{codigo}" placeholder="NOMEANOPERIODO" class="form-control" />
								<span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="text-danger"></span> <br/>
							</div>
							<div class="form-group col-md-6">
								<label for="nome">Nome</label>
								<input type="text" id="nome" name="nome" th:field="*{nome}" placeholder="nome" class="form-control" /> <br/>
							</div>
							<div class="form-group col-md-6">
								<label for="ano">Ano</label>
								<input type="text" id="ano" name="ano" th:field="*{ano}" placeholder="1932" class="form-control" /> <br/>
							</div>
							<div class="form-group col-md-6">
								<label for="periodo">Periodo</label>
								<input type="text" id="periodo" name="periodo" th:field="*{periodo}" placeholder="1 ou 2" class="form-control" /> <br/>
							</div>
							<!-- <button type="submit" class="btn btn-primary rounded-pill">Salvar</button>  -->
							<div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Atualizar">
                            </div>
						</div>
					</form>
				</div>
            </div>
        </div>
    </div>
</body>
</html>